body {
    background-color: aqua;
    color: rgb(12, 12, 112);
}
h1 {
text-align: center;
background-color: rgb(54, 149, 212);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: bold;
border: 15px inset forestgreen;
padding: 50px;
margin: 20px;
}
h2 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
font-family: 'Courier New', Courier, monospace;
}
a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
a:hover {
    color: rgb(255, 255, 255);
}
li {
    font-style: lighter;
    border: 15px double forestgreen;
    border-top: none;
    padding: 50px;
    margin: 20px;
}
img {
    width: 150px;
    border: 15px ridge forestgreen;
    padding: 50px;
    margin: 20px;
}